body {
  padding: 32px 0;
}

p {
  font-size: 1.25rem;
}

.container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

#title {
  display: block;
  color: black;
  font-size: 3rem;
  transition: 0.2s color linear;
  margin: 1rem 0;
}

#title:hover {
  color: #464646;
}

.input,
.checkbox {
  margin: 0.5rem;
}

.button-container {
  margin-top: 1rem;
}
